<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Neck Tool</title>
    <link rel="stylesheet" href="prepWork.css">
    <style>
    </style>

  </head>

  <body>

    <div id="main-container">

      <div id="app">
        <!-- Guitar Neck Tool -->
        <table class="neck">
          <tr v-for="string in 6">
            <!-- use the default tuning to derive the note name for each open string -->
            <td class="open-note">{{ chromNotes[ tuning[ string - 1 ] - 1 ] }}</td>
            <td v-for="fret in 15">
              <div  class="note-container"
                   v-bind:id="'s'+string+'f'+fret"
                   v-bind:value="calculateNote(string, fret)"
                   v-bind:name="currNoteName">
                <!-- use the open string as start val to compute the chromScale value (note index) -->
                <span v-if="chromScale[currNoteValue - 1] == 0" v-html="guitString"></span>
                <span v-if="chromScale[currNoteValue - 1] == 1" v-html="guitNote"></span>
              </div>
            </td>
          </tr>
        </table>

        <!-- add ons -->
        <p>C Major: &nbsp;&nbsp;<span v-text="textAreaMsg"></span></p>
        <br>
        <button type="text" v-on:click="showCurrScale">Show Scale</button>

        <!-- test neck -->
        <br><br>
        <table class="neck">
          <tr v-for="string in 6">
            <td class="open-note">{{ chromNotes[ tuning[ string - 1 ] - 1 ] }}</td>
            <td v-for="fret in 15">
              <div  class="note-container"
                   v-bind:id="'s'+string+'f'+fret"
                   v-bind:value="calculateNote(string, fret)"
                   v-bind:name="currNoteName">
                <span>
                  {{ currNoteValue }}
                </span>
              </div>
            </td>
          </tr>
        </table>

      </div> <!-- end app -->
    </div> <!-- end main container -->

    <!-- import Vue.js app logic -->
    <script src="prepWork.js"></script>
  </body>
</html>
