<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scaleLibrary.js"></script>
    <title>Neck Tool</title>
    <link rel="stylesheet" href="prepWork.css">
  </head>

  <body>

    <div id="main-container">

      <div id="app">
        <!-- Guitar Neck Tool -->
        <table class="neck">
          <tr v-for="string in 6">
            <!-- use the default tuning to derive the note name for each open string -->
            <td class="open-note">{{ chromNotes[ tuning[ string - 1 ] ] }}</td>
            <td v-for="fret in 15">
              <div  class="note-container"
                    v-bind:id="'s'+string+'f'+fret"
                    v-bind:value="calculateNote(string, fret)"
                    v-bind:name="currNoteName">
                <!-- if radius == 0, note is off, if radius == 15, note is on -->
                <svg height="100%" width="100%" class="fret" @click="toggleNote">
                  <line x1="0" y1="50%" x2="100%" y2="50%" />
                  <circle cx="50%" cy="50%" v-bind:r="chromVals[currNoteValue]" />
                </svg>
              </div>
            </td>
          </tr>
        </table>

        <!-- Scale Select -->
        <br>
        <div style="display:inline-block;">
          <!-- Root drop menu -->
          <label for="scale-root">Root:</label>
          <select class="custom-select custom-select-sm" id="scale-root" v-model="currRoot">
            <option v-for="note in chromNotes">{{ note }}</option>
          </select>

          <!-- Scale drop menu -->
          <label for="scale-library">Scale:</label>
          <select class="custom-select custom-select-sm" id="scale-library" v-model="currScale">
            <option v-for="(value, key) in scaleLibrary" :value="key">{{ value.name }}</option>
          </select>

          <!-- Mode drop menu -->
          <label for="scale-mode">Mode:</label>
          <select class="custom-select custom-select-sm" id="scale-mode" v-model="currMode">
            <option></option>
          </select>

        </div>

        <p>
          <span>{{ currRoot }}</span>
          <span>{{ currScale }}</span
        </p>
        <br>

        <button class="btn btn-sm btn-outline-primary" type="text" v-on:click="showScale">Show Scale</button>

        <!-- test neck -->
        <br><br>
        <table class="neck">
          <tr v-for="string in 6">
            <td class="open-note">{{ chromNotes[ tuning[ string - 1 ] ] }}</td>
            <td v-for="fret in 15">
              <div  class="note-container"
                   v-bind:id="'s'+string+'f'+fret"
                   v-bind:value="calculateNote(string, fret)"
                   v-bind:name="currNoteName">
                <span>
                  {{ currNoteValue }}
                </span>
              </div>
            </td>
          </tr>
        </table>

      </div> <!-- end app -->
    </div> <!-- end main container -->

    <!-- import Vue.js app logic -->
    <script src="prepWork.js"></script>

  </body>
</html>
